body{
    background:url(./img/bg_t.png), linear-gradient(90deg, rgba(104,66,152,1) 0%, rgba(169,112,173,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
}
.block{
    margin: 0 auto;
    max-width: 750px;
    padding-top: 30px;
}
.link{
    color: inherit;
    text-decoration: none;
}
.header{
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}
.menu,
.slider-view__images{
    list-style: none;
}
.menu__item{
    display: inline-block;
    margin-right: 50px;
    padding-bottom: 5px;
    font-size: 12px;
    font-weight: 300;
    border-bottom: 1px transparent solid;
}
.menu__item:last-child{
    margin-right: 0;
}
.menu__item:hover{
    border-bottom: 1px #ffffff solid;
}
.dropdown{
    cursor: pointer;
}
.product-card{
    background-color: #f4f4f4;
    color: #000000;
    display: grid;
    grid-template-columns: 2fr 1fr;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
}
.product-card:before{
    content: '';
    position: absolute;
    z-index: -2;
    width: 105%;
    height: 95%;
    background-color: #ffffff;
    opacity: .5;
    left: -2.5%;
    top: 2.5%;
}
.product-card:after{
    content: '';
    position: absolute;
    width: 110%;
    height: 90%;
    background-color: #ffffff;
    opacity: .5;
    left: -5%;
    top: 5%;
    z-index: -2;
}
.product-slider{
    display: grid;
    min-height:430px;
    grid-template-rows: 4fr 1fr;
}
.slider-view{
    position: relative;
}
.slider-view:after{
    content:url(./img/Huarache.png);
    position: absolute;
    top: 80px;
    left: 40px;
    z-index: 1;
}
.slider-view__img{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.product-slider__slider-control{
    text-align: center;
}
.slider-control__item{
    display:inline-block;
    border: 2px solid white;
    margin-right: 15px;
    background-color: #ebdce9;
}
.slider-control__item__img{
    width: 42px;
    height: 42px; 
}
.input{
    display: none;
}
.slider-view__input:checked +.slider-view__img{
   z-index:2;
}
.description{
    background-color: #ffffff;
    padding: 40px 30px;
}
.label{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ffa60d;
    padding: 6px;
}
.promo-text{
    margin-bottom: 15px;
    margin-top: 15px;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
}
.promo-text__highlight{
    color: #5e4fff;
}
.product-name{
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Roboto Condensed',sans-serif;
    margin-right: 15px;
    margin-bottom: 15px;
}
.rate{
    color: #7f7f7f; 
    display: inline-block;
    font-size: 10px;
}
.rate__item--solid{
    color:#000000
}
.price{
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 25px;
}
.size__title{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin-bottom: 5px;
   
}
.size-select__label{
    display: inline-block;
    padding: 4px;
    text-align: center;
    font-size: 15px;
    font-family: 'Roboto Condensed',sans-serif;
    margin-right: 10px;
    width: 24px;
    height: 24px;
    border: rgba(0, 0, 0, 0) solid 1px;
    margin-bottom: 35px;
}
.size-select__input:checked + .size-select__label{
    border: rgba(0, 0, 0, 1) solid 1px;
}
.button{
    width: 120px;
    height: 30px;
    background-color: #a200b8;
    border: #a200b8 1px solid;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 12px;
    vertical-align: middle;
    outline: none;
    margin: 4px;
}
.button:hover{
    background-color: #ffffff;
    color: #000000;
}


