@font-face{
    font-family: 'Museo Sans Rounded';
    font-weight: 100;
    src: url(./fonts/MuseoSansRounded-100.ttf);

}
body{
    background:url(./img/bg.png), #b9b8bb;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
}
.block{
    margin: 0 auto;
    max-width: 750px;
    padding-top: 100px;
}
.link{
    color: inherit;
    text-decoration: none;
}
.input{
    display: none;
}
.product-card{
    color: #e1e1e1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    position: relative;
    background-color: rgb(17, 26, 40);
    box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.82);
}
.preview{
    display: grid;
    min-height:350px;
    grid-template-rows: 1fr 3fr 0.5fr;
}
.product__img{
    width: 100%;
}
.description{
    font-family: 'Museo Sans Rounded', sans-serif; 
    padding: 65px;
}
.promo-text{
    font-size: 24px;
    margin-bottom: 15px;
}
.product-name{
    color: #e1e1e1;
    font-size: 14px;
    opacity: 0.54;
    margin-bottom: 25px;
}
.rate__item{
    opacity: 0.54;
    font-size: 10px;
    margin-bottom: 25px;
}
.rate__item--solid{
    opacity:1;
    font-size: 12px;
    color: #f5d830;
}
.size-select,
.qty-select{
    width: 69px;
    height: 32px;
    border: 1px solid rgba(255, 255, 255, 0.2);;
    background-color:transparent;
    color: #e1e1e1;
    font-size: 14px;
    padding: 3px;
    opacity: 0.6;
    margin-bottom: 25px;
}
.button--cart{
    width: 184px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: #4c525a;
    opacity: 0.26;
    font-size: 14px;
    color: #e1e1e1;
    font-family: 'Museo Sans Rounded', sans-serif; 
}
.button--cart:hover{
    border: 1px solid #4c525a;
    background-color: #ffffff; 
    opacity: 1;
    color: #4c525a; 
}
.color-select__label{
    display: inline-block;
    border-radius: 50%;
    background-color: #4c525a;
    width: 12px;
    height: 12px;
    border: 1px solid transparent;
    margin-left: 15px;
}
.color-select__label--white{
    background-color: #ffffff; 
    display: inline-block;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    border: 1px solid transparent;
}
.color-select__label--red{
    background-color: #fc0000; 
    display: inline-block;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    border: 2px solid transparent;
}
.color-select__label--blue{
    background-color: #00bbff;
    display: inline-block;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    border: 1px solid transparent; 
}
.color-select__input:checked + label{
    border: 1px solid #b9b8bb; 
    transform: scale(1.1, 1.1);
}
.color-select{
    text-align: center;
}